.modal-section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.502);
}

.modal {
	position: relative;
	width: 100%;
	height: 100%;
}

.modal-content {
	position: fixed;
	margin: 0 auto;
	left: 50%;
	top: 30%;
	transform: translateX(-50%);
	max-width: 800px;
	width: 100%;
	min-height: 450px;

	z-index: 999 !important;
	background-color: white;
	padding: 40px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 10px;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.modal-title {
	font-size: 32px;
	line-height: 40px;
}

.modal-img {
	position: absolute;
	top: -10px;
	right: -10px;
    cursor: pointer;
}

.modal-body {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.modal-label {
	display: flex;
	text-transform: capitalize;
	margin-top: 1.2rem;
	margin-bottom: 0.3rem;
	font-size: 1rem;
	letter-spacing: 0.5px;
	font-weight: 400;
	color: rgb(55, 65, 81);
}

.modal-input {
	width: 100%;
	padding: 1px 1.5rem;
	line-height: 3rem;
	font-size: 1.2rem;
	background-color: rgb(229, 231, 235);
	border: none;
	border-radius: 4px;
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.btn-group {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.modal-save {
	width: 100%;
	padding: 15px 25px;
	text-transform: capitalize;
	font-size: 0.9rem;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	color: rgb(220, 229, 247);
	background-color: #ff9800;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.modal-close {
	width: 100%;
	padding: 15px 25px;
	text-transform: capitalize;
	font-size: 0.9rem;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	color: rgb(220, 229, 247);
	background-color: #006afff0;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
