.wrapper {
  min-height: 70vh;
  box-shadow: 2px 3px 4px #4a4343;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.title {
  font-size: 35px;
  margin-bottom: 20px;
}

.title span,
.about span {
  background-color: #432323;
  color: #fff;
  padding: 5px;
  margin-right: 10px;
  border-radius: 10px;
}

.about {
  font-size: 35px;
  margin-bottom: 20px;
}

.img{
  box-shadow: 2px 3px 4px #4a4343;
}
